{% extends "base.html" %}

{% block title %}{{ artist.name }}{% endblock %}

{% block content %}
    <div class="section">
        <h2 class="section-title">{{ artist.name }}</h2>

        <div class="section-content">
            {% if artist.personal_information is defined %}
                <h3>Personal Information</h3>
                <ul id="personal_information">
                    {% for key, value in artist.personal_information.items() %}
                        <li><strong>{{ key.replace("_", " ").title() }}:</strong> {{ value }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if artist.music_information is defined %}
                <h3>Music Information</h3>
                <ul id="music-information">
                    {% for key, value in artist.music_information.items() %}
                        <li><strong>{{ key.replace("_", " ").title() }}:</strong> {{ value }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            {% if artist.social_media is defined %}
                <h3>Social Media</h3>
                <ul id="social-media">
                    {% for social_media_platform, social_media_url in artist.social_media.items() %}
                        <li><a href="{{ social_media_url }}" target="_blank">{{ social_media_platform }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if artist.about is defined %}
                <h3>About {{ artist.name }}</h3>

                {% if artist.about.q_and_a is defined %}
                    <h4>Q&A</h4>
                    <ul>
                        {% for qa in artist.about.q_and_a %}
                            <li>
                                <h5>{{ qa.question }}</h5>
                                <p>{{ qa.answer }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if artist.about.biography is defined %}
                    <h4>Biography</h4>
                    {% for bio in artist.about.biography %}
                        <p>{{ bio }}</p>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
