{% extends "base.html" %}

{% block title %}{{ artist.name }}{% endblock %}

{% block content %}
    {% if artist.image is defined %}
        <img alt="{{ artist.name }}" src="{{ url_for('static', filename=artist.image) }}" />
    {% endif %}

    <div class="section">
        <h2 class="section-title">{{ artist.name }}</h2>

        {% if artist.genres is defined %}
            <div class="section-subtitle">{{ artist.genres }}</div>
        {% endif %}

        <div class="section-content">
            {% if artist.personal_information is defined %}
                <h3>Personal Information</h3>
                <ul id="personal_information">
                    {% for key, value in artist.personal_information.items() %}
                        <li><strong>{{ key.replace("_", " ").title() }}:</strong> {{ value }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if artist.social_medias is defined %}
                <h3>Social Media</h3>
                <ul id="social-media">
                    {% for social_media in artist.social_medias.values() %}
                        <li><a href="{{ social_media.url }}" target="_blank">{{ social_media.platform_name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if artist.about is defined %}
                <h3>About {{ artist.name }}</h3>

                {% if artist.about.q_and_a is defined %}
                    <h4>Q&A</h4>
                    <ul>
                        {% for q_and_a in artist.about.q_and_a %}
                            <li>
                                <h5>{{ q_and_a.question }}</h5>
                                <p>{{ q_and_a.answer }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if artist.about.biography is defined %}
                    <h4>Biography</h4>
                    {% for biography_paragraph in artist.about.biography %}
                        <p>{{ biography_paragraph }}</p>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
