body {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin: 0;
}

h1, h2, h3, h4, h5, h5 {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    margin: 0;
}

.section {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 22px;
}

h2, .section-title {
    font-size: 32px;
    margin-bottom: 32px;
    margin-top: 40px;
}

h3 {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 32px;
}

h4 {
    font-size: 18px;
    margin-bottom: 18px;
    margin-top: 24px;
}

h5 {
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #1a91da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f5f5f7;
    margin-top: 40px;
    padding: 40px 0;
    text-align: center;
}

#license {
    color: #6e6e73;
    font-size: 12px;
}
